.container {
    width:100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    border: 30px;
    padding: 5px;
}

.clearfix::after{
    content: ".";
    display: none;
    clear:both;
    display: block;
}

.hidden {
    display: none;
}

.unhidden {
    display: block;
}

#biodataResult{
    max-height: 200px;
    background-color: white;
    overflow-y: scroll;
}

label {
    display: inline-block;
}

#navbar {
    width:100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#navbar > button {
    width: 16%;
}

.mealImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.infoBox, #menu .smallMealContainer{
 text-align: center;
 display:inline-block;  
 height: 330px;
 padding: 5px;
}

#menu .smallMealContainer{
    width:45%;
}

.infoBox{
    overflow-y:scroll;
}

.smallMealContainer{
    width : 30%;
    height: 250px;
    padding: 5px;
    margin: auto;
    float: left;
}

.smallMealContainer > p {
    font-size: 10px;
}

.closeBtn{
    float:right;
    top:10px;
    right:10px;
}

.error{
    background-color: rgb(215, 95, 95);
}

.add {
    text-align: center;
    width:28%;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 9 px;
    margin: 2px;
}

#menu {
    height:900px;
    overflow-y: scroll;
}


#result > h5, .smallMealContainer > h6 {
    margin: 0 0 5px 0;
}

#breakfast, #lunch, #dinner{
    display: inline-block;
    width: 30%;
}
li{
    font:10px;
    margin: 0 0 3px 0;
}

.red {
    color:rgb(192, 99, 99);
}

.green {
    color: rgb(130, 189, 130);
}

.selected {
    background-color: black;
    color: antiquewhite;
    font-weight: 600;
}